@model Diploma.Models.Entities.RouteInfo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RouteInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsDriver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDriver)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPassenger)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPassenger)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
